<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862938422123-s0ajn5hamkbf11pam86r4gkc7fh11qb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862938422123-s0ajn5hamkbf11pam86r4gkc7fh11qb8</string>
	<key>API_KEY</key>
	<string>AIzaSyCu9JMynRcUs0sv6JuIDlhlgbq6Z_uPUZw</string>
	<key>GCM_SENDER_ID</key>
	<string>862938422123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CustomAppRN</string>
	<key>PROJECT_ID</key>
	<string>chatfirebaseapp-b77fd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebaseapp-b77fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862938422123:ios:1e8eca1dd66d332d74ca2e</string>
</dict>
</plist>